@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "SCDream";
  src: url("../font/SCDream1.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "SCDream";
  src: url("../font/SCDream2.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "SCDream";
  src: url("../font/SCDream3.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SCDream";
  src: url("../font/SCDream4.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SCDream";
  src: url("../font/SCDream5.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SCDream";
  src: url("../font/SCDream6.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SCDream";
  src: url("../font/SCDream7.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SCDream";
  src: url("../font/SCDream8.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "SCDream";
  src: url("../font/SCDream9.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
:root {
  --nameColor:#00809D;
  --activeColor: #4682A9;
  --hoverColor: #91C8E4;
  --decoColor: #333;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  font-family: "S-CoreDream-3Light";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--decoColor);
  font-weight: 600;
}

[class*=deco] {
  border-radius: 3px;
}
[class*=deco] a {
  border-radius: 3px;
}

[class*=inner] {
  width: 1300px;
  margin: 0 auto;
}

[class*=title] {
  text-align: center;
  margin: 50px 0;
  font-size: 35px;
}

header .header-inner .header-contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  margin-bottom: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-inner .header-contant .logo {
  font-size: 25px;
  padding: 5px;
  font-weight: bold;
  display: block;
}
header .header-inner .header-contant nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 60px;
  gap: 50px;
}
header .header-inner .header-contant nav ul li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .header-inner .header-contant nav ul li:hover a {
  color: var(--activeColor);
}

article .article-inner .article-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}
article .article-inner .article-content .myImg {
  width: 580px;
  height: 390px;
}
article .article-inner .article-content .myImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
article .article-inner .article-content .myinfo {
  height: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
article .article-inner .article-content .myinfo .textInfo {
  font-size: 40px;
  font-weight: 600;
}
article .article-inner .article-content .myinfo .textInfo span {
  color: var(--nameColor);
}
article .article-inner .article-content .myinfo .specialty_, article .article-inner .article-content .myinfo .age_, article .article-inner .article-content .myinfo .tel_ {
  margin-left: 10px;
  font-weight: 600;
  font-size: 20px;
}
article .article-inner .article-content .myinfo .specialty_ span, article .article-inner .article-content .myinfo .age_ span, article .article-inner .article-content .myinfo .tel_ span {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 300;
}
article .article-inner .article-content .myinfo .skill ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
article .article-inner .article-content .myinfo .skill ul li img {
  width: 50px;
  height: 50px;
}
article .article-inner .article-content .myinfo .skill ul li .swiper-icon {
  width: 40px;
  height: 40px;
}

main .main-inner .category-warps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}
main .main-inner .category-warps button {
  padding: 10px 20px;
}
main .main-inner .category-warps .category-deco a {
  border-radius: 3px;
  border: 1px solid #747474;
  padding: 5px 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
main .main-inner .category-warps .category-deco a:hover {
  background-color: var(--hoverColor);
  color: white;
}
main .main-inner .category-warps .category-deco.active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
main .main-inner .category-warps .category-deco.active a {
  background-color: var(--activeColor);
  color: white;
}
main .main-inner .card-warps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 23px;
  margin-bottom: 100px;
}
main .main-inner .card-warps .card {
  border: 1px solid rgb(158, 158, 158);
  width: 32%;
  margin-bottom: 30px;
}
main .main-inner .card-warps .card > img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main-inner .card-warps .card .contant-warp1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 20px 20px;
}
main .main-inner .card-warps .card .contant-warp1 p {
  font-weight: 600;
}
main .main-inner .card-warps .card .contant-warp1 .a-deco a {
  border: 1px solid rgb(158, 158, 158);
  padding: 5px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
main .main-inner .card-warps .card .contant-warp1 .a-deco a:hover {
  background-color: var(--hoverColor);
  color: white;
}
main .main-inner .card-warps .card .contant-warp1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .main-inner .card-warps .card .contant-warp1 ul li img {
  width: 40px;
  height: 40px;
}
main .View-details {
  background-color: rgb(255, 255, 255);
  position: fixed;
  left: 50%;
  top: 50%;
  max-width: 1380px;
  width: 90%;
  height: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow-y: scroll;
  display: none;
  z-index: 2;
}
main .View-details.active {
  display: block;
}
main .View-details .info-warps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 50px;
  gap: 50px;
}
main .View-details .info-warps .work-period,
main .View-details .info-warps .use-program,
main .View-details .info-warps .part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
main .View-details .info-warps-mobile-inner {
  display: none;
}
main .View-details .view-Demo a {
  width: 100px;
  display: block;
  margin: 50px auto;
  padding: 10px 20px;
  text-align: center;
  border: 1px solid #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
main .View-details .view-Demo a:hover {
  background-color: var(--hoverColor);
  color: white;
}
main .View-details .sample_Image {
  width: 90%;
  margin: auto;
}
main .View-details .sample_Image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 100px;
}
main .side-bar {
  z-index: 2;
  background-color: rgba(51, 51, 51, 0.3137254902);
  padding: 10px;
  position: fixed;
  right: 4%;
  top: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  color: white;
  text-align: center;
}
main .side-bar.Mobile {
  display: none;
}
main .side-bar.PC {
  display: none;
}
main .side-bar .fa-xmark {
  font-size: 45px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
main .side-bar .fa-xmark:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}
main .side-bar .github {
  font-size: 30px;
  cursor: pointer;
}
main .side-bar .github i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
}
main .side-bar .github i:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}
main .side-bar .demo {
  font-size: 30px;
  cursor: pointer;
}
main .side-bar .demo .fa-paperclip {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
}
main .side-bar .demo .fa-paperclip:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.overlay.active {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.432);
  z-index: 1;
}

.Contact-inner {
  text-align: center;
}
.Contact-inner h2 {
  margin: 40px;
}
.Contact-inner h4 {
  margin-bottom: 20px;
  font-size: 30px;
}
.Contact-inner p {
  font-size: 24px;
}
.Contact-inner .contact-warps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
  gap: 20px;
}
.Contact-inner .contact-warps i {
  font-size: 25px;
}
.Contact-inner .contact-warps span {
  font-size: 24px;
}

@media screen and (max-width: 500px) {
  [class*=inner] {
    width: 90%;
    margin: 0 auto;
  }
  header .header-inner .header-contant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 60px;
    margin-bottom: 200px;
  }
  header .header-inner .header-contant .logo {
    font-size: 25px;
    padding: 5px;
    font-weight: bold;
    display: none;
  }
  header .header-inner .header-contant nav ul {
    line-height: 60px;
    gap: 50px;
  }
  article .article-inner .article-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
    margin-bottom: 100px;
  }
  article .article-inner .article-content .myImg {
    width: 310px;
    height: 390px;
  }
  article .article-inner .article-content .myImg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  article .article-inner .article-content .myinfo {
    height: 390px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    gap: 20px;
  }
  article .article-inner .article-content .myinfo .textInfo {
    font-size: 27px;
    font-weight: 700;
  }
  article .article-inner .article-content .myinfo .specialty_ {
    font-weight: 600;
  }
  article .article-inner .article-content .myinfo .age_ {
    font-weight: 600;
  }
  article .article-inner .article-content .myinfo .tel_ {
    font-weight: 600;
  }
  article .article-inner .article-content .myinfo .skill ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  article .article-inner .article-content .myinfo .skill ul li img {
    width: 50px;
    height: 50px;
  }
  main .main-inner .category-warps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
  }
  main .main-inner .category-warps button {
    padding: 10px 20px;
  }
  main .main-inner .category-warps .category-deco a {
    border-radius: 3px;
    border: 1px solid #747474;
    padding: 5px 25px;
  }
  main .main-inner .category-warps .category-deco a:hover {
    background-color: var(--hoverColor);
  }
  main .main-inner .category-warps .category-deco.active a {
    background-color: var(--activeColor);
  }
  main .main-inner .card-warps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 23px;
  }
  main .main-inner .card-warps .card {
    border: 1px solid rgb(158, 158, 158);
    width: 95%;
    margin-bottom: 30px;
  }
  main .main-inner .card-warps .card > img {
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .main-inner .card-warps .card .contant-warp1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px 20px 20px;
  }
  main .main-inner .card-warps .card .contant-warp1 p {
    font-weight: 600;
  }
  main .main-inner .card-warps .card .contant-warp1 .a-deco a {
    border: 1px solid rgb(158, 158, 158);
    padding: 5px 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  main .main-inner .card-warps .card .contant-warp1 .a-deco a:hover {
    background-color: var(--hoverColor);
  }
  main .main-inner .card-warps .card .contant-warp1 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .main-inner .card-warps .card .contant-warp1 ul li img {
    width: 40px;
    height: 40px;
  }
  main .View-details {
    background-color: rgb(255, 255, 255);
    position: fixed;
    left: 50%;
    top: 50%;
    width: 90%;
    height: 90%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    overflow-y: scroll;
    display: none;
    z-index: 2;
  }
  main .View-details.active {
    display: block;
  }
  main .View-details .info-warps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 50px;
    gap: 50px;
  }
  main .View-details .info-warps .work-period,
main .View-details .info-warps .use-program,
main .View-details .info-warps .part {
    display: none;
  }
  main .View-details .info-warps-mobile-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-collapse: collapse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 70%;
    gap: 10px;
  }
  main .View-details .info-warps-mobile-inner table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #D5D2D2;
  }
  main .View-details .info-warps-mobile-inner table th, main .View-details .info-warps-mobile-inner table td {
    padding: 5px 10px;
  }
  main .View-details .info-warps-mobile-inner .view-site-btn {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0;
  }
  main .View-details .info-warps-mobile-inner .view-site-btn .view-git-deco, main .View-details .info-warps-mobile-inner .view-site-btn .view-Demo-deco {
    border: 1px solid #D5D2D2;
    padding: 5px 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  main .View-details .info-warps-mobile-inner .view-site-btn .view-git-deco:hover, main .View-details .info-warps-mobile-inner .view-site-btn .view-Demo-deco:hover {
    background-color: var(--hoverColor);
  }
  main .View-details .view-Demo {
    display: none;
  }
  main .View-details .view-Demo a {
    display: block;
    width: 100px;
    margin: 50px auto;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #000;
  }
  main .View-details .sample_Image {
    width: 90%;
    margin: auto;
  }
  main .View-details .sample_Image img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .side-bar {
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  main .side-bar.Mobile {
    position: sticky;
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  main .side-bar.PC {
    display: none;
    right: 10%;
    top: 6%;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .side-bar .fa-xmark,
main .side-bar .github,
main .side-bar .demo {
    width: 30px;
  }
  main .side-bar .fa-xmark {
    font-size: 45px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: inline-block;
  }
  main .side-bar .fa-xmark:hover {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  main .side-bar .github {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
  }
  main .side-bar .github i {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: block;
  }
  main .side-bar .github i:hover {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  main .side-bar .demo {
    font-size: 30px;
    cursor: pointer;
  }
  main .side-bar .demo .fa-paperclip {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: inline-block;
  }
  main .side-bar .demo .fa-paperclip:hover {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  .overlay.active {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.432);
    z-index: 1;
  }
  .Contact-inner {
    text-align: center;
  }
  .Contact-inner h2 {
    margin: 30px;
  }
  .Contact-inner h4 {
    margin-bottom: 20px;
    font-size: 19px;
  }
  .Contact-inner p {
    font-size: 24px;
  }
  .Contact-inner .contact-warps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 100px;
    gap: 20px;
  }
  .Contact-inner .contact-warps span {
    font-size: 24px;
  }
}